.img-container {
    display: inline-block;
    border: solid rgba(0, 0, 0, .2);
    border-width: 1px;
    border-radius: 1px;
}

.icon-align {
    vertical-align: middle; padding-bottom: 3px
}

.news-align {
    vertical-align: middle; padding-bottom: 10px
}

.img-slider {
    margin-top: 20px;
    margin-bottom: 50px;
}

.img-size {
    height: 275px ;
    width: 325px ;
}

.app-view {
    border-style: solid;
    border-width: 15px;
    border-radius: 5px;
    padding: 0px !important;
}

.iframe-view {
    padding: 0px !important;
    margin: 0px !important;
}

.nav-style {
    opacity: 0.9;
}

.mouse-hover {
    cursor: pointer;
}

.justify-text {
    text-align: justify !important;
}

.faq-style {
    width: 80%;
    margin-top: 30px !important;
}

.no-padding-margin {
    padding: 0px !important;
    margin: 0px !important;
}
